[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "hg-ryan/themes/minimal"]
	path = hg-ryan/themes/minimal
	url = https://github.com/calintat/minimal.git
